*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: ivory;
    height: 100vh;
    
}

aside {
    right: 0;
    top: 20rem;
    bottom: 0;
    width: 4rem;
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

aside ul li a {
    text-decoration: none;
    transition: .5s;
    
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url(./images/woman.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    transition: ease-in;
}

#dotts {
    fill: black;
    fill-opacity: .8;
}

#dotts:hover {
    fill: ivory;
    transition: .5s;
}


.div-round-all {
    display: flex;  
}

.div-round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.round {
    width: 12rem;
    padding: 1rem;
    margin: 1 2rem 0 2rem;
}

.text-round {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: .1rem;
}


#home {
    background-color: #6c5c7c;
}

#about {
    background-color: lightskyblue; 
}

#skills {
    background-color: lightcoral;
}
#contact {
    background-color: #6c5c7c;
}