/* SMALL DEVISES */

@media (max-width: 400px) {
    
    #hamburger-menu {
        color: ivory;
        top: 0;
    }

    p {
        font-size: 2rem;
        margin: 0;
    }

    .about-text2 {
        display: none;
    }

    i {
        font-size: 2.5rem;
        padding-top: .5rem
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        /*margin-bottom: 1rem;*/
        margin: 2rem;
        font-size: 3rem;
    }
    #div-about {
        text-align: center;
    }
}