
@media (max-width: 414px) {
    
    #hamburger-menu {
        color: ivory;
        top: 0;
    }

    p {
        font-size: 2rem;
        margin: 0;
    }

    .about-text2 {
        display: none;
    }

    .a-project {
        font-size: 2.5rem;
        line-height: 5rem;
    }

    i {
        font-size: 2.5rem;
        padding-top: .5rem
    }

    #i-lg {
        font-size: 4rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        margin: 2rem;
        font-size: 3rem;
    }

    h4 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    h5 {
        font-size: 2.5rem;
    }
    
    .div-container-contact, .div-container-home, .div-container-about, .div-container-tools, .div-container-project  {
        height: 100%;
        width: 100%;
    }

    #space-desktop {
        display: none;
    }
}