/* VIEW FROM MEDIUM DESKTOP

HIDE ASIDE
SHOW HAMBURGER MENU
CHANGE FONT SIZE ON H2

*/

@media (max-width: 767px) {

    aside {
        display: none;
    }

    .hamburger-menu {
        display: block;
        color: black;
        position: fixed;
    }

    h2 {
        font-size: 2rem;
    }
}