
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    height: 100vh;
    background-color: white;
    
}

aside {
    right: 0;
    top: 20rem;
    bottom: 0;
    width: 2.5rem;
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

aside ul li a {
    text-decoration: none;
    transition: .5s;
}

header {
    display: none;
}
#hamburger-menu {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu-links {
    display: none;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.div-container-home {
    background-color: #fcf2e4;
    height: 95%;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-container-about {
    background-color: #F4FFF3;
    height: 95%;
    width: 97%;
    display: flex;
    justify-content: center;
}

.div-container-project {
    background-color: #F4F3FF;
    height: 95%;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-container-tools {
    background-color: #FFF3FB;
    height: 95%;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-container-contact {
    background-color: #F4F3FF;
    height: 95%;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-project {
    width: 30%;
}

.links-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: center;
}

h1 {
    font-size: 7rem;
    cursor: pointer;
    font-weight: bold;
}

h2 {
    font-size: 6.5rem;
    margin: 3rem;
    text-align: center;
}

h3 {
    font-size: 6.5rem;
    margin: 2rem;
    text-align: center;
}

h6 {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

p {
    font-size: 2.5rem;
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

.tools-desktop {
    display: block;
}

.about-text2 {
    display: block;
}

.tools-text-mobile {
    display: none;
}

#dotts {
    fill: black;
    fill-opacity: .8;
}

#dotts:hover {
    fill: ivory;
    transition: .5s;
}

#div-about {
    max-width: 80%;
    max-height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.color-bg {
    background-color: #D90368;
}

.div-round-all {
    display: flex;
    padding: .5rem;
    margin: .5rem; 
    justify-content: center;
    height: 100%;
}

.div-round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.round {
    width: 70%;  
}

.text-round {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: .8rem;
    letter-spacing: .1rem;
}

i {
    font-size: 2rem;
    padding: 1rem;
    color: #47A8BD;
}

i:hover {
    color: #226b7b;
    /* color: #D90368; */
}

a {
    text-decoration: none;
    color: #47A8BD;
}

a:hover {
    color: #226b7b;
}

.a-project {
    text-decoration: none;
    color: #47A8BD;
    font-size: 2.5rem;
}

.a-project:hover {
    color: #226b7b;
    font-size: 3rem;
    transition: .2s;
}

#i-lg {
    font-size: 6rem;
}

#home {
    text-align: center;
}

#tools {
    text-align: center;
}

#project {
    text-align: center;
}
#contact {
    text-align: center;
}

/* REUSABLE CLASSES */

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.padding-top {
    padding-top: 2rem;
}

.centered {
    justify-content: center;
    align-items: center;
}