/* 
SMALL DEVISES
*/

@media (max-width: 400px) {
    
    body {
        background-color: red;
    }

    .div-round {
        display: none;
    }

    p {
        font-size: 2rem;
        margin: 0;

    }

    .about-text2 {
        display: none;
    }
}