/* VIEW FROM MEDIUM DESKTOP

HIDE ASIDE
SHOW HAMBURGER MENU

*/

@media (max-width: 767px) {

    aside {
        display: none;
    }

    .hamburger-menu {
        display: block;
        color: black;
        position: fixed;
    }

    p {
        font-size: 1.5rem;
        margin: 2rem;
    }

    
}