
@media (max-width: 1105px) {

    aside {
        display: none;
    }
    header {
        display: flex;
        width: 100%;
        position: fixed;
        height: 0;
        justify-content: center;
        overflow-y: hidden;
        top: 0;
        padding: 0 1rem;
        transition: height 400ms;
        margin: 0;
        background-color: #F4F3FF;
    }

    #hamburger-menu {
        display: flex;
        color: black;
        position: fixed;
        right: 0;
        top: 0; 
        padding-right: 1rem;
        padding-top: 1.5rem;
        cursor: pointer;
        z-index: 1000;
    }

    .mobile-menu {
        display: flex;
       /*  height: 0; */
        align-items: center;
    }

    .mobile-menu-links {
        display: flex;
        flex-direction: column;
        font-size: 3.1rem;
        align-items: center;
        line-height: .1rem;
        padding-top: 1rem;
        right: 0;
        width: 100%;
        margin: 0;
        color: black;
    }

    .div-round {
        display: none;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        display: none;
    }

    h4 {
        text-align: center;
        font-size: 3.8rem;
        line-height: 4.8rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    p {
        font-size: 2rem;
        margin: 2rem;
        text-align: center;
    }
    .tools-desktop {
        display: none;
    }

    .tools-text-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 4rem;
    }
}