* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside {
    right: 0;
    top: 20rem;
    bottom: 0;
    width: 4rem;
    display: flex;
    position: fixed;
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 3rem;
    
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

#home {
    background-color: #6c5c7c;
}

#about {
    background-color: lightskyblue;
}

#work {
    background-color: lightcoral;
}
#contact {
    background-color: #6c5c7c;
}