*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: ivory;
    height: 100vh;
    background-color: black;
    
}

aside {
    right: 0;
    top: 20rem;
    bottom: 0;
    width: 2rem;
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

aside ul li a {
    text-decoration: none;
    transition: .5s;
}

.hamburger-menu {
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url(./images/woman.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}

h3 {
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: 2rem;
}

.about-text2 {
    display: block;
}

.skills-text-mobile {
    display: none;
}

#dotts {
    fill: black;
    fill-opacity: .8;
}

#dotts:hover {
    fill: ivory;
    transition: .5s;
}

.div-about {
    max-width: 80%;
    max-height: 100%;
}


.div-round-all {
    display: flex;
    padding: .5rem;
    margin: .5rem;  
}

.div-round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.round {
    width: 60%;  
}

.text-round {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: .8rem;
    letter-spacing: .1rem;
}

i {
    font-size: 2rem;
    padding: .2rem
}

#home {
    background-color: #6c5c7c;
    text-align: center;
}

#about {
    background-color: lightskyblue; 
}

#skills {
    background-color: lightcoral;
}
#contact {
    background-color: #6c5c7c;
    text-align: center;
}